html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
footer,nav,section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
b{font-weight:700;}
h1{margin:.67em 0;font-size:2em;}
@media print{
*,:after,:before{color:#000;text-shadow:none;background:0 0;-webkit-box-shadow:none;box-shadow:none;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
h1,h2,h3,h4,h5{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h1,h2,h3{margin-top:20px;margin-bottom:10px;}
h4,h5{margin-top:10px;margin-bottom:10px;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
p{margin:0 0 10px;}
.small{font-size:85%;}
ul{margin-top:0;margin-bottom:10px;}
ul ul{margin-bottom:0;}
.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.row{margin-right:-15px;margin-left:-15px;}
.col-md-12,.col-md-4,.col-md-6,.col-md-8,.col-xs-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.col-xs-12{float:left;}
.col-xs-12{width:100%;}
@media (min-width:992px){
.col-md-12,.col-md-4,.col-md-6,.col-md-8{float:left;}
.col-md-12{width:100%;}
.col-md-8{width:66.66666667%;}
.col-md-6{width:50%;}
.col-md-4{width:33.33333333%;}
}
.dropdown{position:relative;}
.container-fluid:after,.container-fluid:before,.row:after,.row:before{display:table;content:" ";}
.container-fluid:after,.row:after{clear:both;}
footer,nav,section{display:block;}
html{background:#fff;color:#000;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
b{font-weight:bold;}
html,body{font-size:100%;}
body{background:white;color:#222222;padding:0;margin:0;font-family:"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;font-weight:normal;font-style:normal;line-height:1;position:relative;cursor:default;}
a:hover{cursor:pointer;}
a:focus{outline:none;}
.left{float:left;}
.right{float:right;}
.textcenter{text-align:center;}
.row{width:100%;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;max-width:62.5em;zoom:1;}
.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
.row .row{width:auto;margin-left:-0.9375em;margin-right:-0.9375em;margin-top:0;margin-bottom:0;max-width:none;zoom:1;}
.row .row:before,.row .row:after{content:" ";display:table;}
.row .row:after{clear:both;}
.columns{position:relative;padding-left:0.9375em;padding-right:0.9375em;width:100%;float:left;}
@media only screen{
.columns{position:relative;padding-left:0.9375em;padding-right:0.9375em;float:left;}
.small-12{position:relative;width:100%;}
[class*="column"] + [class*="column"]:last-child{float:right;}
}
@media only screen and (min-width:768px){
.large-3{position:relative;width:25%;}
.large-4{position:relative;width:33.33333%;}
.large-12{position:relative;width:100%;}
}
.show-for-medium-up{display:none;}
@media only screen and (min-width:768px){
.show-for-medium-up{display:inherit;}
}
div,ul,li,h1,h2,h3,h4,h5,p{margin:0;padding:0;direction:ltr;}
a{color:#2ba6cb;text-decoration:none;line-height:inherit;}
a:hover,a:focus{color:#2795b6;}
p{font-family:inherit;font-weight:normal;font-size:1em;line-height:1.6;margin-bottom:1.25em;text-rendering:optimizeLegibility;}
h1,h2,h3,h4,h5{font-family:"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;font-weight:bold;font-style:normal;color:#222222;text-rendering:optimizeLegibility;margin-top:0.2em;margin-bottom:0.5em;line-height:1.2125em;}
h1{font-size:2.125em;}
h2{font-size:1.6875em;}
h3{font-size:1.375em;}
h4{font-size:1.125em;}
h5{font-size:1.125em;}
i{font-style:italic;line-height:inherit;}
b{font-weight:bold;line-height:inherit;}
ul{font-size:1em;line-height:1.6;margin-bottom:1.25em;list-style-position:outside;font-family:inherit;}
ul{margin-left:1.25em;}
ul li ul{margin-left:1.25em;margin-bottom:0;font-size:1em;}
@media only screen and (min-width:768px){
h1,h2,h3,h4,h5{line-height:1.4;}
h1{font-size:2.75em;}
h2{font-size:2.3125em;}
h3{font-size:1.6875em;}
h4{font-size:1.4375em;}
}
@media print{
*{background:transparent;color:black;box-shadow:none;text-shadow:none;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
.button{border-style:solid;border-width:1px;cursor:pointer;font-family:inherit;font-weight:bold;line-height:1;margin:0 0 1.25em;position:relative;text-decoration:none;text-align:center;display:inline-block;padding-top:0.75em;padding-right:1.5em;padding-bottom:0.8125em;padding-left:1.5em;font-size:1em;background-color:#2ba6cb;border-color:#2284a1;color:white;}
.button:hover,.button:focus{background-color:#2284a1;}
.button:hover,.button:focus{color:white;}
.button.secondary{background-color:#e9e9e9;border-color:#d0d0d0;color:#333333;}
.button.secondary:hover,.button.secondary:focus{background-color:#d0d0d0;}
.button.secondary:hover,.button.secondary:focus{color:#333333;}
.button.small{padding-top:0.5625em;padding-right:1.125em;padding-bottom:0.625em;padding-left:1.125em;font-size:0.8125em;}
.button{padding-top:0.8125em;padding-bottom:0.75em;}
.button.small{padding-top:0.625em;padding-bottom:0.5625em;}
@media only screen{
.button{-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;-webkit-transition:background-color 300ms ease-out;-moz-transition:background-color 300ms ease-out;transition:background-color 300ms ease-out;}
.button:active{-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2) inset;box-shadow:0 1px 0 rgba(0,0,0,0.2) inset;}
.button.radius{-webkit-border-radius:3px;border-radius:3px;}
}
@media only screen and (min-width:768px){
.button{display:inline-block;}
}
.dropdown.button{position:relative;padding-right:3.1875em;}
.dropdown.button:before{position:absolute;content:"";width:0;height:0;display:block;border-style:solid;border-color:white transparent transparent transparent;top:50%;}
.dropdown.button:before{border-width:0.5625em;right:1.5em;margin-top:-0.25em;}
.dropdown.button:before{border-color:white transparent transparent transparent;}
.dropdown.button.small{padding-right:2.8125em;}
.dropdown.button.small:before{border-width:0.5625em;right:1.125em;margin-top:-0.21875em;}
.dropdown.button.small:before{border-color:white transparent transparent transparent;}
.dropdown.button.secondary:before{border-color:#333333 transparent transparent transparent;}
.top-bar{overflow:hidden;height:45px;line-height:45px;position:relative;background:#111111;margin-bottom:1.875em;}
.top-bar ul{margin-bottom:0;list-style:none;}
.top-bar .title-area{position:relative;margin:0;}
.top-bar .name{height:45px;margin:0;font-size:16px;}
.top-bar .name h1{line-height:45px;font-size:1.0625em;margin:0;}
.top-bar .name h1 a{font-weight:bold;color:white;width:50%;display:block;padding:0 15px;}
.top-bar .toggle-topbar{position:absolute;right:0;top:0;}
.top-bar .toggle-topbar a{color:white;text-transform:uppercase;font-size:0.8125em;font-weight:bold;position:relative;display:block;padding:0 15px;height:45px;line-height:45px;}
.top-bar .toggle-topbar.menu-icon{right:15px;top:50%;margin-top:-16px;padding-left:40px;}
.top-bar .toggle-topbar.menu-icon a{text-indent:-48px;width:34px;height:34px;line-height:33px;padding:0;color:white;}
.top-bar .toggle-topbar.menu-icon a span{position:absolute;right:0;display:block;width:16px;height:0;-webkit-box-shadow:0 10px 0 1px white,0 16px 0 1px white,0 22px 0 1px white;box-shadow:0 10px 0 1px white,0 16px 0 1px white,0 22px 0 1px white;}
.top-bar-section{left:0;position:relative;width:auto;-webkit-transition:left 300ms ease-out;-moz-transition:left 300ms ease-out;transition:left 300ms ease-out;}
.top-bar-section ul{width:100%;height:auto;display:block;background:#222222;font-size:16px;margin:0;}
.top-bar-section ul li > a{display:block;width:100%;color:white;padding:12px 0 12px 0;padding-left:15px;font-size:0.8125em;font-weight:bold;background:#222222;}
.top-bar-section .has-dropdown{position:relative;}
.top-bar-section .has-dropdown > a:after{content:"";display:block;width:0;height:0;border:inset 5px;border-color:transparent transparent transparent rgba(255,255,255,0.5);border-left-style:solid;margin-right:15px;margin-top:-4.5px;position:absolute;top:50%;right:0;}
.top-bar-section .dropdown{position:absolute;left:100%;top:0;visibility:hidden;z-index:99;}
.top-bar-section .dropdown li{width:100%;height:auto;}
.top-bar-section .dropdown li a{font-weight:normal;padding:8px 15px;}
.top-bar-section .dropdown li.title h5{margin-bottom:0;}
.top-bar-section .dropdown li.title h5 a{color:white;line-height:22.5px;display:block;}
.js-generated{display:block;}
@media only screen and (min-width:58.75em){
.top-bar{background:#111111;zoom:1;overflow:visible;}
.top-bar:before,.top-bar:after{content:" ";display:table;}
.top-bar:after{clear:both;}
.top-bar .toggle-topbar{display:none;}
.top-bar .title-area{float:left;}
.top-bar .name h1 a{width:auto;}
.top-bar-section{-webkit-transition:none 0 0;-moz-transition:none 0 0;transition:none 0 0;left:0;}
.top-bar-section ul{width:auto;height:auto;display:inline;}
.top-bar-section ul li{float:left;}
.top-bar-section ul li .js-generated{display:none;}
.top-bar-section li a:not(.button){padding:0 15px;line-height:45px;background:#111111;}
.top-bar-section .has-dropdown > a{padding-right:35px;}
.top-bar-section .has-dropdown > a:after{content:"";display:block;width:0;height:0;border:inset 5px;border-color:rgba(255,255,255,0.5) transparent transparent transparent;border-top-style:solid;margin-top:-2.5px;top:22.5px;}
.top-bar-section .dropdown{left:0;top:auto;background:transparent;min-width:100%;}
.top-bar-section .dropdown li a{color:white;line-height:1;white-space:nowrap;padding:7px 15px;background:#1e1e1e;}
.top-bar-section ul.right li .dropdown{left:auto;right:0;}
}
@media only screen and (max-width:767px){
.f-dropdown{max-width:100%;left:0;}
}
.f-dropdown{position:absolute;top:-9999px;list-style:none;width:100%;max-height:none;height:auto;background:white;border:solid 1px #cccccc;font-size:16px;z-index:99;margin-top:2px;max-width:200px;}
.f-dropdown > *:first-child{margin-top:0;}
.f-dropdown > *:last-child{margin-bottom:0;}
.f-dropdown:before{content:"";display:block;width:0;height:0;border:inset 6px;border-color:transparent transparent white transparent;border-bottom-style:solid;position:absolute;top:-12px;left:10px;z-index:99;}
.f-dropdown:after{content:"";display:block;width:0;height:0;border:inset 7px;border-color:transparent transparent #cccccc transparent;border-bottom-style:solid;position:absolute;top:-14px;left:9px;z-index:98;}
.f-dropdown li{font-size:0.875em;cursor:pointer;line-height:1.125em;margin:0;}
.f-dropdown li:hover,.f-dropdown li:focus{background:#eeeeee;}
.f-dropdown li a{display:block;padding:0.3125em 0.625em;color:#555555;}
body{line-height:1.6em;}
p{margin-bottom:0.25em;}
a.button.dropdown{float:right;}
#p-cactions #drop1{z-index:100000;white-space:nowrap;}
#p-cactions #drop1 a{width:100%;text-align:left;}
#personal-tools-dropdown{z-index:10000000;}
.drop-icon{display:inline;margin-right:4px;}
h2.title{margin-bottom:0.1em;}
h3#tagline{font-style:italic;font-size:small;margin-bottom:0.5em;color:#6f6f6f;}
.clear_both{clear:both;}
.row .row{margin-bottom:0.9em;}
footer.row{margin-top:2em;color:grey;}
div{line-height:1.60em;}
ul#drop1.f-dropdown{margin-left:0;margin-top:.5em;margin-bottom:.25em;padding:.25em;}
footer.row ul{list-style-type:none;margin:0 0 1em 0;}
footer.row ul.columns li{display:inline;float:none;}
h1,h2,h3,h4,h5{margin-top:0em;line-height:1em;}
.button{margin:0.5em 0;padding:0.3em 0.75em 0.4em 0.75em;}
.top-bar-section .dropdown{z-index:100;}
.row:after{content:" ";display:table;}
#echo-notifications{float:right;display:inline-block;margin:.5em 1em;}
@media print{
nav,footer{display:none;}
}
/*! CSS Used from: Embedded */
.printfooter{display:none;}
footer.row{text-align:center;}
html{font-size:100%;}
#page-content{margin:0px;}
h1,h2,h3,h4,h5{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
.row{max-width:65.5em;}
.top-bar #personal-tools-dropdown{margin-right:20px;}
#personal-tools-dropdown{z-index:0;}
.top-bar{background:rgba(94,0,78,0.86);margin-bottom:0px;}
.top-bar-section ul{background:none;color:white;}
.top-bar-section .dropdown li{border:solid 1px #d8d8d8;border-top:none;color:#4d4d4d;}
.top-bar-section .dropdown li:hover{border:solid 1px #e9e9e9;background:#e9e9e9;}
.top-bar-section .dropdown li:hover a{background:#e9e9e9;}
.w-b li#navlinks-dropdown:hover{background:rgba(94,0,78,0.24);}
.top-bar-section .has-dropdown > a{font-family:Roboto;text-transform:uppercase;font-weight:300;}
.top-bar-section .dropdown a{font-family:Roboto;}
.top-bar-section .dropdown li a{background:none;color:#4d4d4d;padding:10px;}
#top-bar-left .dropdown li a{padding:10px 80px 10px 10px;background:transparent;line-height:1;color:#4d4d4d;}
.top-bar-section ul li{background:transparent;height:45px;}
.top-bar-section a{background:transparent;}
.top-bar-section .dropdown{background:white;}
@media screen and (min-width:769px){
.top-bar .name h1 a{margin:0px 0px 0px 40px;}
}
@media screen and (max-width:769px){
.top-bar{height:45px;}
.top-bar .name h1 a{margin:3px 0px 0px 20px;}
}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');unicode-range:U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');unicode-range:U+0102-0103, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:400;src:local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:400;src:local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;}
.footericon{background:none;display: grid;}
footer.row{margin-top:2em;color:grey;max-width: 100% ;margin: 0;padding:50px 0 100px 0;background-color:#2e2d2d;text-align:center;}
html{font-size:100%;}
#page-content{margin:0px;}
h1,h2,h3,h4,h5{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
.leftgrid{text-align:left;display: grid;}
.minht70{min-height:70px;}
.padding10{padding:10px;}
.padding10tb{padding:10px 0 10px 0;}
.white{color:white;}
.dimgrey{color:dimgrey;}
.bg-white{background-color: #fff;}
.item {
    max-width: 350px;
    margin: auto;
    background-color: #f5f5f5;
    border: 1px solid #B9B9B9;
}
.item .overlay_center {
    color: white;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: transform .2s;
    font-size: 18px;
    font-weight: 600;
    height: 250px;
    padding-top: 104px;
    width: 100%;
    margin: auto;
    font-family: 'Raleway';
	position:absolute;
	top:0;
	left:0;
}
footer.row a {
    color: #6d6d6d;
}
footer.row a:hover {
    color: rgb(167,165,165);
}
[class*="column"] + [class*="column"]:last-child {
    float: left;
}
#breadCrum{
	display: block;
    padding: 0.5625em 0.875em 0.5625em;
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: 0;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    background-color: #f6f6f6;
    border-color: gainsboro;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}